/*********************************************
 *                  GENERAL
 *********************************************/
/* Use CSS variables */
:root {
  --md-blue: #2196F3;
  --md-green: #8bc34a;
  --md-red: #f44336;
  --md-orange: #ff9800;
  --md-deep-orange: #ff5722;
}

/* Enable Font-Awesome for icons */
.reveal i.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

/* Colors options */
.reveal .red {
  color: var(--md-red);
}

.reveal .green {
  color: var(--md-green);
}

.reveal .orange {
  color: var(--md-orange);
}

.reveal .deep-orange {
  color: var(--md-deep-orange);
}

.reveal .blue {
  color: var(--md-blue);
}

/* By default, disable bullets in the lists*/
.reveal ul {
  list-style: none;
  margin: 0;
}

.reveal ul.bullets {
  list-style: disc;
  margin: 0 0 0 1em;
}

/* Clean some borders and background for PNG images */
.reveal .png {
  border: none;
  background: none;
}

/* Clean all styles from the image */
.reveal .clean-img {
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.reveal .inline-img {
  max-height: 30px;
}

/* Different images sizes */
.reveal .w100 {
  width: 100px;
}

.reveal .w200 {
  width: 200px;
}

.reveal .w600 {
  width: 600px;
}

/* Class for vertical aligning elements in the middle*/
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* List with bullets */
.bullets {
  list-style-type: disc;
}

/* Some functional classes */
.reveal .b { font-weight:bold; }
.reveal .tc { text-align: center; }
.reveal .list { list-style-type:none; }
.reveal .fs-08 { font-size: 0.8em; }
.reveal .f1 { font-size: 3rem; }
.reveal .f2 { font-size: 2.25rem; }
.reveal .f3 { font-size: 1.5rem; }
.reveal .f4 { font-size: 1.25rem; }
.reveal .f5 { font-size: 1rem; }
.reveal .f6 { font-size: .875rem; }
.reveal .pb0 { padding-bottom: 5px; }
.reveal .pb1 { padding-bottom: 10px; }
.reveal .pb2 { padding-bottom: 15px; }
.reveal .pb3 { padding-bottom: 20px; }
.reveal .pb4 { padding-bottom: 25px; }
.reveal .pr0 { padding-right: 5px; }
.reveal .pr1 { padding-right: 10px; }
.reveal .pr2 { padding-right: 15px; }
.reveal .pr3 { padding-right: 20px; }
.reveal .pr4 { padding-right: 25px; }
.reveal .pl0 { padding-left: 5px; }
.reveal .pl1 { padding-left: 10px; }
.reveal .pl2 { padding-left: 15px; }
.reveal .pl3 { padding-left: 20px; }
.reveal .pl4 { padding-left: 25px; }
.reveal .pt0 { padding-top: 5px; }
.reveal .pt1 { padding-top: 10px; }
.reveal .pt2 { padding-top: 15px; }
.reveal .pt3 { padding-top: 20px; }
.reveal .pt4 { padding-top: 25px; }
.reveal .lh-150 { line-height: 150%; }
